body {
  background-color: rgb(10, 30, 35);
  font-family: sans-serif;
}

.header {
  color: whitesmoke;
  text-align: center;
  letter-spacing: 2px;
}

.gif {
  max-height: device-height;
  margin-left: auto;
  margin-right: auto;
}
